#subheader {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#header {
    text-align: center;
    margin: auto
}

#h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#h2 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#h3 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#title {
    background-color: lightblue;
    margin: auto;
    text-align: center;
}

#quote-container {
    margin-top: 20px;
}

.circular--square {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#experiences {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    background-color: #cccccc;
}

#passions {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    background-color: lightyellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bottom {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
